/**
* Navigation
*
* @section Components
* @author ljd
*/
.c-nav {
	overflow: hidden;

	text-align: right;
}
.c-nav__title {
	margin: 0;
	padding: $base-line-height 0;
	float: left;

	@include adjust-font-size-to(modular-scale(0));
	font-weight: 400;
}
.c-nav__link {
	display: inline-block;
	padding: $base-line-height 0;
	margin-left: 20px;
	border: none;

	&:first-of-type {
		margin-left: 0;
	}
}